.cards-recipe > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.cards-recipe > ul > li {
  display: flex;
  flex-direction: column;
}

.cards-recipe .cards-recipe-card-image {
  line-height: 0;
}

.cards-recipe .cards-recipe-card-image img,
.cards-recipe .cards-recipe-card-image picture {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}

.cards-recipe .cards-recipe-card-body {
  padding: 16px;
  text-align: center;
}

@media (width >= 600px) {
  .cards-recipe > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
